   body {
        min-height: 100vh;
        margin: 0;
        padding: 0;
        background: #eccaff;
        font-family:Arial, Helvetica, sans-serif;
    }

    nav{
        height: 60px;
        background-color: aqua;
    }

    nav img{
        width: 3%;
    }

    .links{
        float:right;
        background-color: rgb(119, 0, 255);

    }

    .parte-arriba{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .parte-arriba h1{
        text-shadow: 2px 2px 2px;
        font-size: 50px;
    }

