   body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #eccaff;
        font-family:Arial, Helvetica, sans-serif;
    }

    