    

    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #eccaff;
        font-family:Arial, Helvetica, sans-serif;
    }

    .login-box {
        display: flex;
        background: #ffffff;
        border-radius: 16px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        overflow: hidden;
        width: 1200px;
        max-width: 90%;
        height: 700px;
    }

    .lado-izquierdo {
        flex: 1;
        background: radial-gradient(circle,rgba(224, 158, 255, 1) 0%, rgba(226, 199, 242, 1) 52%, rgba(232, 121, 226, 1) 78%, rgba(179, 70, 252, 1) 100%);
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lado-izquierdo h1 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #131d57;
        font-weight: 800;
        text-align: center;
    }

    .lado-izquierdo p {
        font-size: 16px;
        color: #ffffff;
    }

    .lado-derecho {
        flex: 1;
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;
    }

    .img-logo{
        width: 40%;

    }

    form {
        display: flex;
        flex-direction: column;
    }

    form label {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 600;
        color: #15123a;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="password"] {
        padding: 12px 15px;
        margin-bottom: 20px;
        border-radius: 8px;
        border: 1px solid #ccc;
        font-size: 14px;
        transition: 0.3s;
    }


    .checkbox-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 14px;
        color: #555;
    }

    .checkbox-container input {
        margin-right: 10px;
    }


    form button[type="submit"] {
        padding: 12px;
        background: #405cf7;
        color: #fff;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
    }

    form button[type="submit"]:hover {
        background: #927bff;
    }

    @font-face {
        font-family: mi-font;
        src: url(sansation_light.woff);
    }

    @media (max-width: 768px) {
        .container {
            flex-direction: column;
        }
        .left-side, .right-side {
            padding: 40px 30px;
        }
    }
